<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
mybatis的具体的dao对应的配置文件，类似于那个impl

namespace要和我们的dao的接口进行绑定
-->
<!--suppress ALL -->
<mapper namespace="com.sz.mapper.BookMapper">


    <!--CRUD都提供了标准的标签
        C:create
        R:retrieve
        U:update
        D:delete
        增删改查
    -->

    <!--对于select而言，我们要通知mybatis，你帮我封装成我指定的数据类型
        list集合（如果你要查询的结果是一个集合，你描述集合当中的元素的是java类型就可以了。）
        如果你要查询的结果就是一个普通的java对象，resultType直接写对应的pojo就可以了。
    -->
    <select id="selectAllBook" resultType="com.sz.entity.BookInfo">
        SELECT * FROM bookinfo
    </select>

    <select id="selectBookByIdAndName" resultType="com.sz.entity.BookInfo">
        SELECT * FROM bookinfo
        <if test="id != null">
            <where>
                id=#{id}
            </where>
        </if>
    </select>

    <delete id="deleteBookByPrimaryKey">
      <if test="id != null">
          delete from bookinfo where id=#{id}
      </if>
    </delete>

    <!--suppress SqlNoDataSourceInspection -->
    <insert id="insertBook" parameterType="com.sz.entity.BookInfo">
        insert into bookinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ISBN != null">
                ISBN,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="publisher != null">
                publisher,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="ISBN !=null">
                #{ISBN},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="discount != null">
                #{discount},
            </if>
            <if test="publisher != null">
                #{publisher},
            </if>
        </trim>
    </insert>

    <update id="updateBook" parameterType="com.sz.entity.BookInfo">
        update bookinfo set
        <trim suffixOverrides=",">
            <if test="ISBN != null">
                ISBN=#{ISBN},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="price != null">
                price=#{price},
            </if>
            <if test="discount != null">
                discount=#{discount},
            </if>
            <if test="publisher != null">
                publisher=#{publisher},
            </if>
        </trim>
        <where>
            and id=#{id}
        </where>
    </update>

    <resultMap id="bookInfoById" type="com.sz.entity.BookInfo">
        <id property="id" column="id"/>
        <result property="ISBN" column="ISBN"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="publisher" column="publisher"/>

        <collection property="personList" ofType="com.sz.entity.Person">
            <id property="person_id" column="person_id"/>
            <result property="person_name" column="person_name"/>
            <result property="person_number" column="person_number"/>
        </collection>
    </resultMap>

    <!--1 to n查询-->
    <select id="selectBookById" resultMap="bookInfoById">
        SELECT t2.id,t2.ISBN,t2.name,t2.price,t2.discount,t2.publisher,t1.person_name,t1.person_number
        FROM `person` t1 LEFT JOIN `bookinfo` t2 ON t1.person_id = t2.person_id
        WHERE t1.person_id = #{id}
    </select>

</mapper>